Repository se-brown-2023/automated-testing-applicants-service, pull requests merged in 2023-12, with the labels that each got.

#36 Реализовать получение экзамена по ссылке
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionAlreadyStartedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamServiceImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
Labels: exam-conduct-service

#34 Реализовать контроллер и логику управления сессиями
  common/database/build.gradle.kts
  common/database/src/main/java/com/sebrown2023/model/db/ExamSession.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionAlreadyFinishedException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionAlreadyStartedException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionExpiredException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionFinishedException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionNotExpiredException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionNotFoundException.java
  common/database/src/main/java/com/sebrown2023/model/exceptions/ExamSessionNotStartedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ApiErrorDto.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionController.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/GlobalExceptionHandler.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamNotFoundException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionAlreadyFinishedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionAlreadyStartedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionExpiredException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionFinishedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionNotExpiredException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionNotFoundException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionNotStartedException.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamServiceImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
Labels: exam-conduct-service

#32 Created automated-testing-applicants-servive client for keycloak realm
  docs/keycloak/swe-brown-2023-realm-export.json
Labels: infrastructure

#43 OpenAPI spec for exam-conduct-service
  .gitignore
  common/database/src/main/java/com/sebrown2023/model/db/Submission.java
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionApiImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionController.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamException.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/ExamSessionException.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
  exam-conduct-service/src/main/resources/exam-conduct-service-api.yml
Labels: exam-conduct-service

#42 Frontend
  .gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Pages/Accept/Accept.css
  frontend/src/Pages/Accept/Accept.js
  frontend/src/Pages/Exam/Exam.css
  frontend/src/Pages/Exam/Exam.js
  frontend/src/Pages/ExamSession/ExamSession.css
  frontend/src/Pages/ExamSession/ExamSession.js
  frontend/src/Pages/Examinee/Examinee.css
  frontend/src/Pages/Examinee/Examinee.js
  frontend/src/Pages/Login/Login.css
  frontend/src/Pages/Login/Login.js
  frontend/src/Pages/Main/MainModal.css
  frontend/src/Pages/Main/MainModal.js
  frontend/src/Pages/Main/MainPage.css
  frontend/src/Pages/Main/MainPage.js
  frontend/src/Pages/Main/user.png
  frontend/src/Pages/Tasks/TaskItem.css
  frontend/src/Pages/Tasks/TaskItem.js
  frontend/src/Pages/Tasks/TaskList.css
  frontend/src/Pages/Tasks/TaskList.js
  frontend/src/Pages/Tasks/TaskModal.css
  frontend/src/Pages/Tasks/TaskModal.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/redux/examSessionsSlice.js
  frontend/src/redux/examsSlice.js
  frontend/src/redux/store.js
  frontend/src/redux/tasksSlice.js
  frontend/src/redux/usersSlice.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: UI
