Repository se-brown-2023/automated-testing-applicants-service, pull requests merged in 2024-01, with the labels that each got.

#41 - Создан основной каркас сервиса.
  common/database/build.gradle.kts
  common/database/src/main/java/com/sebrown2023/model/db/Exam.java
  common/database/src/main/java/com/sebrown2023/model/db/ExamSession.java
  common/database/src/main/java/com/sebrown2023/model/db/Examinee.java
  common/database/src/main/java/com/sebrown2023/model/db/Submission.java
  common/database/src/main/java/com/sebrown2023/model/db/Task.java
  common/database/src/main/java/com/sebrown2023/model/db/Test.java
  common/database/src/main/java/com/sebrown2023/model/db/TestResult.java
  common/database/src/main/java/com/sebrown2023/repository/ExamRepository.java
  common/database/src/main/java/com/sebrown2023/repository/ExamSessionRepository.java
  common/database/src/main/java/com/sebrown2023/repository/ExamineeRepository.java
  common/database/src/main/java/com/sebrown2023/repository/SubmissionRepository.java
  common/database/src/main/java/com/sebrown2023/repository/TaskRepository.java
  common/database/src/main/java/com/sebrown2023/repository/TestRepository.java
  common/database/src/main/java/com/sebrown2023/repository/TestResultRepository.java
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/java/com/sebrown2023/controller/GlobalExceptionHandler.java
  exam-manage-service/build.gradle.kts
  exam-manage-service/src/main/java/com/sebrown2023/ExamManageApplication.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/ExamController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/ExamSessionController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/SubmissionController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/TaskController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/TestController.java
  exam-manage-service/src/main/java/com/sebrown2023/exceptions/ApiExceptionHandler.java
  exam-manage-service/src/main/java/com/sebrown2023/exceptions/ExamSessionNotFoundException.java
  exam-manage-service/src/main/java/com/sebrown2023/exceptions/NoElementException.java
  exam-manage-service/src/main/java/com/sebrown2023/exceptions/TestNotFoundException.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/ExamMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/ExamSessionMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/SubmissionMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/TaskMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/TestMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/TestResultMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/services/ExamService.java
  exam-manage-service/src/main/java/com/sebrown2023/services/ExamSessionService.java
  exam-manage-service/src/main/java/com/sebrown2023/services/SubmissionService.java
  exam-manage-service/src/main/java/com/sebrown2023/services/TaskService.java
  exam-manage-service/src/main/java/com/sebrown2023/services/TestService.java
  exam-manage-service/src/main/resources/api/openapi.yml
Labels: exam-manage-service

#44 #39 docker images
  .dockerignore
  .github/workflows/build.exam-conduct-service.yml
  .github/workflows/build.exam-judging-service.yml
  .github/workflows/build.exam-manage-service.yml
  .github/workflows/release.yml
  conductService.Dockerfile
  docker-compose.yml
  frontend.Dockerfile
  frontend/nginx.conf
  judgingService.Dockerfile
  manageService.Dockerfile
Labels: exam-conduct-service, exam-manage-service, exam-judging-service, infrastructure

#51 #50: fix docker
  Readme.md
  conductService.Dockerfile
  docker-compose.yml
  judgingService.Dockerfile
  manageService.Dockerfile
Labels: infrastructure

#53 #50: add graylog appender
  common/logging/build.gradle.kts
  common/logging/src/main/resources/logback.xml
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/resources/application.yml
  exam-judging-service/build.gradle.kts
  exam-judging-service/src/main/resources/application.yml
  exam-manage-service/build.gradle.kts
  exam-manage-service/src/main/resources/application-dev.yml
  exam-manage-service/src/main/resources/application.yml
  settings.gradle.kts
Labels: exam-conduct-service, exam-manage-service, exam-judging-service, infrastructure

#56 #50 fix docker compose
  docker-compose.yml
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/resources/application.yml
  exam-judging-service/build.gradle.kts
  exam-judging-service/src/main/resources/application.yml
  exam-judging-service/src/test/java/com/sebrown2023/service/SubmissionsServiceTest.java
  exam-manage-service/build.gradle.kts
  exam-manage-service/src/main/resources/application.yml
Labels: infrastructure

#54 Метод получения времени экзамена в минутах
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionApiImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionService.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
  exam-conduct-service/src/main/resources/exam-conduct-service-api.yml
Labels: exam-conduct-service

#58 #50: fix flaky tests
  build.gradle.kts
  common/logging/build.gradle.kts
  common/logging/src/main/resources/logback-test.xml
  common/logging/src/main/resources/logback.xml
  exam-judging-service/build.gradle.kts
  exam-judging-service/src/test/java/com/sebrown2023/service/SubmissionsServiceTest.java
  exam-judging-service/src/test/resources/application-test.yml
Labels: exam-judging-service, infrastructure

#59 add cros-policy to manage service
  exam-manage-service/src/main/java/com/sebrown2023/ExamManageApplication.java
  exam-manage-service/src/main/resources/application.yml
Labels: exam-conduct-service, exam-manage-service

#63 #62: fix TestMapper
  exam-manage-service/src/main/java/com/sebrown2023/mappers/TestMapper.java
Labels: exam-manage-service

#65 #64: add get exam session method
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionApiImpl.java
  exam-conduct-service/src/main/resources/application-dev.yml
  exam-conduct-service/src/main/resources/exam-conduct-service-api.yml
  exam-judging-service/src/test/java/com/sebrown2023/service/SubmissionsServiceTest.java
Labels: exam-conduct-service

#68 - add creating tasks without exams.
  exam-manage-service/src/main/java/com/sebrown2023/services/TaskService.java
Labels: exam-manage-service

#69 Bug fix
  common/database/src/main/java/com/sebrown2023/repository/SubmissionRepository.java
  exam-manage-service/src/main/java/com/sebrown2023/services/SubmissionService.java
  exam-manage-service/src/main/resources/api/openapi.yml
Labels: exam-manage-service

#71 #70: add-examinee-methods
  exam-manage-service/src/main/java/com/sebrown2023/controllers/ExamineeController.java
  exam-manage-service/src/main/java/com/sebrown2023/mappers/ExamineeMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/services/ExamineeService.java
  exam-manage-service/src/main/resources/api/openapi.yml
Labels: exam-manage-service

#72 - bug-fix
  exam-manage-service/src/main/java/com/sebrown2023/mappers/TaskMapper.java
Labels: exam-manage-service

#74 bugfix
  common/database/src/main/java/com/sebrown2023/model/db/Task.java
Labels: exam-manage-service

#67 Kafka send submission
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/java/com/sebrown2023/controller/SubmissionSupplier.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
  exam-conduct-service/src/main/resources/application.yml
  exam-conduct-service/src/main/resources/exam-conduct-service-api.yml
Labels: exam-conduct-service

#76 add some front
  frontend/src/App.js
  frontend/src/Pages/Accept/Accept.js
  frontend/src/Pages/Exam/Exam.css
  frontend/src/Pages/Exam/Exam.js
  frontend/src/Pages/Examinee/Examinee.js
  frontend/src/Pages/Tasks/TaskList.js
  frontend/src/Pages/Tasks/TaskModal.js
Labels: UI

#77 #66 exam manage interaction
  exam-manage-service/src/main/java/com/sebrown2023/mappers/ExamSessionMapper.java
  exam-manage-service/src/main/java/com/sebrown2023/services/ExamSessionService.java
  exam-manage-service/src/main/resources/application.yml
  frontend/nginx.conf
  frontend/src/Pages/ExamSession/ExamSession.css
  frontend/src/Pages/ExamSession/ExamSession.js
  frontend/src/Pages/Main/MainModal.js
  frontend/src/Pages/Main/MainPage.js
  frontend/src/api-backend-manage/api.ts
  frontend/src/api-backend-manage/base.ts
  frontend/src/redux/examSessionsSlice.js
Labels: exam-manage-service, UI

#55 Аутентификация и авторизация Keycloak в conduct и manage сервисах
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/java/com/sebrown2023/controller/ExamSessionApiImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/security/SecurityConfig.java
  exam-conduct-service/src/main/resources/application.yml
  exam-manage-service/build.gradle.kts
  exam-manage-service/src/main/java/com/sebrown2023/controllers/ExamController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/ExamSessionController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/SubmissionController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/TaskController.java
  exam-manage-service/src/main/java/com/sebrown2023/controllers/TestController.java
  exam-manage-service/src/main/java/com/sebrown2023/security/SecurityConfig.java
  exam-manage-service/src/main/resources/application.yml
Labels: exam-conduct-service, exam-manage-service

#79 Last PR...
  exam-conduct-service/build.gradle.kts
  exam-conduct-service/src/main/java/com/sebrown2023/config/KafkaConfiguration.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/GlobalExceptionHandler.java
  exam-conduct-service/src/main/java/com/sebrown2023/controller/SubmissionSupplier.java
  exam-conduct-service/src/main/java/com/sebrown2023/exceptions/SubmissionException.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/ExamSessionServiceImpl.java
  exam-conduct-service/src/main/java/com/sebrown2023/service/SubmissionSupplier.java
  exam-conduct-service/src/main/resources/application-dev.yml
  exam-conduct-service/src/main/resources/application.yml
  exam-judging-service/src/main/java/com/sebrown2023/configuration/ExamJudgingConfiguration.java
  exam-judging-service/src/main/java/com/sebrown2023/service/SubmissionsService.java
  exam-judging-service/src/test/java/com/sebrown2023/service/SubmissionsServiceTest.java
  exam-manage-service/src/main/resources/api/openapi.yml
  frontend/src/Pages/ExamSession/ExamSession.css
  frontend/src/Pages/ExamSession/ExamSession.js
  frontend/src/Pages/Examinee/Examinee.js
  frontend/src/Pages/Main/MainModal.js
  frontend/src/Pages/Main/MainPage.js
  frontend/src/Pages/Tasks/TaskList.js
  frontend/src/Pages/Tasks/TaskModal.js
Labels: exam-conduct-service, UI
